{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'style.css' %}"  />
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyB6o5OyV-vgXK4dj1M0KTqYhpkHKc9D5f4"
			type="text/javascript">
	</script>
	<script src="{% static 'scripts/fun.js' %}"
			type="text/javascript"></script>
<title>css</title>
</head>
<body>
<div id="body">	<div id="header">
    <center >
        <a href="index.html"> <img center src="{% static 'ra.png' %}" alt="logo" width="210" height="140"/> </a></center> </div>
  </div>
  <div class="clear"></div>
<form action="/time" method="get">
  <div id="menu">
    <ul>
      <li><a href="#" class="link_menu">Geohash
          <br/>
          <input type="text" name="Geohash" placeholder="area"><br>

          </a></li>

      <li><a href="#" class="link_menu">
            Tipo de Orden:
            <SELECT NAME="type" SIZE=1">
                <OPTION VALUE="N/A">Seleccione...</OPTION>
				<OPTION VALUE="restaurant">Restaurante</OPTION>
				<OPTION VALUE="market">Mercados</OPTION>
				<OPTION VALUE="express">rappicash</OPTION>
				<OPTION VALUE="courier">rappifavor</OPTION>
				<OPTION VALUE="wing">antojo</OPTION>
            </SELECT></a></li>

      <li><a href="#" class="link_menu">Tipo de veh&iacute;culo:
            <SELECT NAME="Ordenes" SIZE=1">
                <OPTION VALUE="N/A">Seleccione...</OPTION>
				<OPTION VALUE="1">Bicicleta</OPTION>
				<OPTION VALUE="2">Carro</OPTION>
			</SELECT></a></li>
      <center>
          <li1 class="menu li1"><input   type="submit" value="Buscar" style='width:90px; height:25px'></li1></center></ul>
  </div>
</form>

 <div id="map" style="width:680px; height:380px">
		<script type="text/javascript">inicializar();</script>
	</div>
</body>
</html>
