/*style.css*/

#customers{
	font-family: Trebuchet MS,Arial,Helvetica;
	border-collapse:collapse;
	width:100%;
}

#customers td,#customers th{
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even){background-color:#f2f2f2;}

#customers tr:hover{background-color:cyan}

#customers th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

p{color:red;}
p.ex1{display:none;}
p.ex2{display:inline;}
p.ex3{display:block;}
p.ex4{display:inline-block;}