@charset "UTF-8";
/* CSS Document */

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0,2em;
	margin: 0;
	padding: 0;
	color: #999999;
}
body {
	width:1000px;margin:0 auto;

}

p {
	font-size: 0.8em;
}

li {
	list-style-type: none;
}

a:link , a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

a img, fomr, fieldset{
	background: none;
	border: none;
}

h1 {
	background: url(images/ico_puce.gif) no-repeat left;
	padding-left: 40px;
	font-variant: small-caps;
	border-bottom: solid 1px #eae9e9;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

h4 {
	text-align: center;
	color: #ff9600;
	font-variant: small-caps;
	font-size: 0.8em;
	margin-bottom: 5px;
}


strong {
	color: #ff9600;
	font-weight: normal;
}

em{
	color: #ff9600;
	font-style: normal;
	font-weight: bold;
}


.clear {
	clear: both;
}


#body {
	background: url(images/bg.gif) repeat-y;
	background-color:pink;
	width: 980px;
	padding: 0 12px;
	margin-top: 10px;
	border-bottom: solid 2px #eae9e9;
	border-top: solid 2px #eae9e9;
	margin-bottom: 30px;
	position:absolute;
	-overflow-x: hidden;

}

/**************************************** HEADER ****************************/



#header {
	background: url(images/header_bg.gif) repeat-x;
	width: 980px;
	padding-top: 3px;
	height: 105px;
}

#header a:active, #header a:hover { text-decoration: none; }

#header p {
	float: left;
	background: url(images/ra.PNG) no-repeat left;
	margin-left: 30px;
	width: 500px;
	height: 105px;
	padding-top: 10px;
}

#logo_compagny {
	color: #ff9600;
	font-size: 1.6em;
	padding-left: 50px;
}

#logo_name {
	color: #999999;
	font-size: 1.6em;
}

#slogan {
	float: right;
	font-size: 0.8em;
}


#header ul {
	float: right;
	font-size: 0.8em;
	margin: 15px 30px 0 0;
}

#header ul li {
	float: left;
	padding: 0 10px;
}


#home {
	background: url(images/ico_home.gif) no-repeat left;
	padding-left: 20px;
	padding-top: 3px;
}

#search {
	background:url(images/ico_search.gif) no-repeat left;
	padding-left: 20px;
	padding-top: 3px;
}

#map {
	background:url(images/ico_map.gif) no-repeat left;
	padding-left: 20px;
	padding-top: 3px;
}

a#home:link, a#home:visited,
a#search:link, a#search:visited,
a#map:link, a#map:visited {
	text-decoration: none;
	color: #999999;
}

a#home:hover, a#home:active,
a#search:hover, a#search:active,
a#map:hover, a#map:active {
	text-decoration: none;
	color: #ff9600;
}


/****************************************  HEADER END ****************************/



/**************************************** MENU ****************************/

#menu {
	margin-top: 200px;
	float: left;
}

#map{
    margin-top: 200px;
    float: right;
}

#botons {

    margin-top: 400px;
	float: left;
}

#menu li {
	border-bottom: solid 4px #eae9e9;
	border-right: solid 4px #eae9e9;
	text-align: center;
	margin-bottom: 4px;
	font-size: 0.8em;
}

#menu li1 {
	border-bottom: solid 0px #eae9e9;
	border-right: solid 0px #eae9e9;
	text-align: center;
	margin-bottom: 0px;
	font-size: 0.8em;
    background-image:url(images/button.gif)no-repeat;
}

li a.link_menu:link, li a.link_menu:visited {
	display: block;
	width: 250px;
	background: url(images/ico_arrow_orange.gif) no-repeat left;
	padding: 5px 15px;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}

li a.link_menu:hover, li a.link_menu:active {
	display: block;
	width: 250px;
	background: url(images/ico_arrow_grey.gif) no-repeat left #f8f8f8;
	color: #ff9600;
	padding: 5px 15px;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}

#menu_img {
	background: url(images/img_menu_ixhdz.jpg) no-repeat;
	width: 666px;
	height: 195px;
	margin-top: 10px;
	margin-right: 15px;
	float: right;
}

#menu_img p {
	padding-top: 135px;
	padding-left: 400px;
	color: #FFFFFF;
	font-size: 1em;
}

